html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 25em;
}

.btn {
  display: inline-block;
  max-width: 25em;
  padding: 2em;
}

.text {
  display: inline-block;
  max-width: 25em;
  padding: .4em .75em .5em;
  text-align: left;
}

.text a {
  display: inline-block;
  vertical-align: middle;
  padding: .4em .75em .5em;
  background-color: #eee9de;
  border: 2.5px solid #333;
  border-radius: 11px;
  font-size: 1.125rem;
  color: #000;
  text-decoration: none;
  text-align: center;
  margin: 1.5rem;
}

.text a:hover {
  color: #666;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.5rem;
}

p {
  font-size: .95rem;
  margin: 1.5rem;
}
